.header-image {
  background: url(../img/27F9A9DF-CE29-422A-B052-1A8720379E06.jpg) lightgray 0px
    0px / 100% 100% no-repeat;
  padding: 150px 75px;
}
.header-title {
  color: #fff;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 40px;
  font-weight: 700;
}
